---
layout: default
---

<h1>{{ page.title }}</h1>
{% if page.description %}<p class="muted">{{ page.description }}</p>{% endif %}

<ul class="list">
  {% assign series = page.series | default: page.category %}
  {% for post in site.posts %}
    {% if post.categories contains series %}
      <li>
        <div class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</div>
        <a href="{{ post.url }}"><strong>{{ post.title }}</strong></a>
        {% if post.excerpt %}<div class="muted">{{ post.excerpt | strip_html | truncate: 160 }}</div>{% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
